Checks: >
  bugprone-*,
  clang-analyzer-*,
  performance-*,
  portability-*,
  readability-*,
  -readability-identifier-length,
  -readability-magic-numbers,
  -readability-isolate-declaration,
  -readability-function-cognitive-complexity,
  -bugprone-multi-level-implicit-pointer-conversion,
  -bugprone-easily-swappable-parameters,
  -bugprone-branch-clone,
  -bugprone-implicit-widening-of-multiplication-result,
  -clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling,
  -clang-analyzer-core.NonNullParamChecker,
  -clang-analyzer-security.ArrayBound,
  -clang-analyzer-unix.StdCLibraryFunctions,
  -clang-analyzer-core.NullDereference
WarningsAsErrors: ''
